@media (min-width: 1600px) and (max-width: 1699px) {
    .features__text-wrapper {
        margin-left: 176px;
    }

    .slick-next {
        right: 14%;
    }

    .slick-prev {
        left: 14%;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) {
    .features__text-wrapper {
        margin-left: 156px;
    }

    .slick-next {
        right: 15%;
    }

    .slick-prev {
        left: 15%;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .features__text-wrapper {
        margin-left: 136px;
    }

    .slick-next {
        right: 12%;
    }

    .slick-prev {
        left: 12%;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) {
    .features__text-wrapper {
        margin-left: 116px;
    }

    .slick-next {
        right: 10%;
    }

    .slick-prev {
        left: 10%;
    }
}

@media (min-width: 1200px) and (max-width: 1699px) {
    .header__buttons-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }

    .features__banner-img {
        width: 100%;
    }

    .features__benner-wrapper {
        top: -4%;
    }

}

@media (min-width: 375px) and (max-width: 1024px) {
    ._heading-first {
        font-size: 28px;
        line-height: 38px;
      }

      ._heading-second {
        font-size: 28px;
        line-height: 38px;
      }

    .header_padding {
        padding-top: 16px;
        padding-bottom: 15px;
      }

      .header__buttons-wrapper {
          padding-bottom: 0px;
      }

    .header__logo > p {
        display: none;
      }

      .header__logo {
        margin-left: 17px;
      }

      .header__logo > img {
          width: 42px;
          
      }

      .header__download-btn {
        width: 174px;
        height: 42px;
        border-radius: 10px;
        margin-right: 17px;
      }

      .header__download-btn > p {
        width: 130px;
        margin-left: 4px;
        margin-right: -8px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
     }

     .header__download-btn > img {
         width: 31px;
     }

     .features {
         padding-bottom: 30px;
     }

     .features__banner-img {
         display: none;
     }

     .features__text-wrapper {
        margin-left: 0px;
    }

    .features__heading {
        text-align: center;
    }

    .features__heading {
        width: auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .features__paragraph {
        text-align: center;
        margin-bottom: 30px;
        width: auto;
    }

    .features__users-count {
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    ._download-btn {
        width: 342px;
        height: 58px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }

    .features__content {
        display: block;
        /* width: 375px; */
        margin-left: auto;
        margin-right: auto;
    }

    .__download-btn {
        width: auto;
    }

    .check {
        width: 44px;
    }

    .features__functions-wrapper {
        width: 342px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: rgba(27, 27, 32, 1);
        margin-top: 30px;
    }

    .features__benner-wrapper {
        position: absolute;
        right: 52%;
        top: 28%;
        z-index: -1;
        width: 342px;
    }

    .features__functions-item {
        background: rgba(27, 27, 32, 1);
    }

    .features__functions-item > img {
        margin-right: 22px;
        top: -30px;
        width: 45px;
    }

    .features__functions-header_1 {
        width: 235px;
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 24px;
      }
      
      .features__functions-header_2 {
        width: 229px;
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 24px;
      }
      
      .features__functions-header_3 {
        width: 300px;
        margin-bottom: 14px;
        font-size: 22px;
        line-height: 24px;
      }

      .features__functions-item > div > ._paragraph {
        font-size: 16px;
        line-height: 26px;
        width: 254px;
      }

      .features__functions-item {
        margin-bottom: 45px;
        height: 114px;
    }

    .features__download-btn {
        margin-top: -20px;
    }

    .features__benner-wrapper-mobile {
        display: block;
        margin-top: 50px;
      }

      .features__banner-img-mobile {

        display: block;
        margin: auto;

        height: auto;
        max-height: 100%;

        width: auto;
        max-width: 100%;
    }

    .reviews {
        padding-bottom: 32px;
        padding-top: 28px;
        background: #22232C;
    }

    .reviews__header {
        margin-bottom: 30px;
    }

    .slider-item {
        width: 314px !important;
        padding-left: 0px;
        display: block !important;
        padding-top: 37px;
        height: auto;
        box-sizing: border-box;
        padding-left: 21px;
        padding-right: 20px;
        padding-bottom: 37px;
    }

    .item-review-wrapper {
        text-align: center;
        padding-top: 20px;
    margin-left: 0px;
    }

    .slider-item > div > img {
        width: 95px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .stars {
        justify-content: center;
    }

    .item-review-text {
        width: auto;
    }

    .item-review-conclusion {
        margin-bottom: 10px;
    }

    .reviews__slider-wrapper {
        margin-bottom: 75px !important;
    }

    .footer__logo {
        display: none;
    }

    .footer__social {
        display: none;
    }

    .footer {
        padding-top: 30px;
        padding-bottom: 32px;
    }

    .footer__terms-copy-wrapper {
        font-size: 14px;
        line-height: 24px;
        padding-left: 27px;
        padding-right: 27px;
    }

    .footer__policies {
        width: auto;
        margin-bottom: 8px;
    }

}
